.homeContainer{
    display: flex;
    width: 100%;
}
@media only screen and (max-width: 767px) { 
    .homeContainer{
        display: block;
        width: 100%;
        padding-bottom: 75px; /* Leave space for bottom navigation bar */
    }
}